@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply h-full bg-black
}

body {
  @apply h-full bg-black
}

@layer base {
  h1 {
    font-size: 48px;
}
  h2{
      font-size: 32px;
  }
  h3{
      font-size: 24px;
  }
  body {
      font-size: 16px;
  }
}

@layer utilities {
  .post-link a {
    @apply text-primary hover:underline; /* Apply desired styles for the post-link class */
  }
}

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: ;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 217.2 32.6% 17.5%;
  }
 
}